<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Company</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
		  <div class="row">
			  <div class="col-md-6 form-group">
				<label for="company">Name</label>
				<input type="text" class="form-control" id="company">
			  </div>
			  <div class="col-md-6 form-group">
				<label for="vat">Email</label>
				<input type="email" class="form-control" id="vat">
			  </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group col-sm-8">
              <label for="city">Password</label>
              <input type="text" class="form-control" id="city">
            </div>
            <div class="col-md-6 form-group col-sm-4">
              <label for="postal-code">Roll</label>
			  <select class="form-control" id="ccmonth">
                <option>Select roll</option>
                <option>User</option>
                <option>Broker</option>
              </select>
            </div>
          </div><!--/.row-->
		  
		  <div class="row">
            <div class="col-md-6 form-group col-sm-8">
			<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
            </div>
          </div><!--/.row-->
		  
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  
</div>
