<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify">
            <button
              type="button"
              class="{{ secondary_button_class }}"
              (click)="upComingList()"
            >
              Up coming
            </button>
            <button
              type="button"
              class="{{ success_button_class }}"
              (click)="completedList()"
            >
              Completed
            </button>
          </i>
          <p>{{ list_title }}</p>
        </div>

        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Sr no.</th>
                <th>Customer name</th>
                <th>Customer email</th>
                <th>Customer phone</th>
                <th>Assign to</th>
                <th>Request id</th>
                <th>Assign at</th>
                <th>Location</th>
                <th *ngIf="list_title === 'Up coming data'">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let indexOfelement = index">
                <td>{{ indexOfelement + 1 }}</td>
                <td>{{ user.cus_name }}</td>
                <td>{{ user.cus_email }}</td>
                <td>{{ user.cus_phone_no }}</td>
                <td>{{ user.brok_name ? user.brok_name : "N/A" }}</td>
                <td>#{{ user.id }}</td>
                <td>{{ user.created_at | date: "medium" }}</td>
                <td>{{ user.location }}</td>
                <td *ngIf="list_title === 'Up coming data'">
                  <i
                    class="fa fa-pencil-square-o"
                    aria-hidden="true"
                    (click)="editBooking(indexOfelement)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
