<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"><span>Brokers List</span></i> 
          <button type="button" class="btn btn-outline-primary waves-effect waves-light" (click)='addUsers()'>
            Add Broker
        </button>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <!-- <th>Profile</th> -->
                <th>Name</th>
                <th>Email</th>
                <th>Location</th>
                <th>Review</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <!-- <td><img src="assets/img/brand/Final_Logo.png" style="width: 40px; height: 40px; border-radius: 50%;" alt="profile picture"></td> -->
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}}</td>
                <td> <div class="stars"> 
                        <i [ngClass]="{'ratings-icons': user.rating >= 0 && user.rating != null}" class="fa fa-star"></i> 
                        <i [ngClass]="{'ratings-icons': user.rating >= 1 && user.rating != null}" class="fa fa-star"></i> 
                        <i [ngClass]="{'ratings-icons': user.rating >= 2 && user.rating != null}" class="fa fa-star"></i> 
                        <i [ngClass]="{'ratings-icons': user.rating >= 3 && user.rating != null}" class="fa fa-star"></i> 
                        <i [ngClass]="{'ratings-icons': user.rating >= 4 && user.rating != null}" class="fa fa-star"></i> 
                </div></td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true"  (click)="editBroker(user.id)"></i><i class="fa fa-trash" aria-hidden="true" (click)="openConfirmationDialog(user.id)"></i></td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
