<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"> Brokers on map</i>
        </div>
        <div class="card-body">
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="2" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
          <agm-marker *ngFor="let marker of markers"
            [latitude]="marker.latitude"  [longitude]="marker.longitude" [opacity]="1"
            [markerDraggable]="true" (markerClick)="selectMarker($event)">
          </agm-marker>
        </agm-map>
        <p *ngIf="selectedMarker">
          Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
        </p>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
