<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"> Customers list</i>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Sr no.</th>
                <th>Customer name</th>
                <th>Customer Email</th>
                <th>Customer Phone no</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <td>{{ ids + i + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone_no }}</td>
                <td>
                  <span class="badge badge-success">
                    {{ user.verify_status == "1" ? "Enable" : "Disable" }}
                  </span>
                </td>
                <td>
                  <div class="dropdown">
                    <a
                      class="action_icons dropdown-toggle"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      href="javascript:void(0)"
                      ><i class="fas fa-list text-grey" aria-hidden="true"></i>
                      Actions</a
                    >
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                      x-placement="top-start"
                      style="
                        position: absolute;
                        will-change: transform;
                        top: 0px;
                        left: 0px;
                        transform: translate3d(0px, 0px, 0px);
                      "
                    >
                      <a
                        href="javascript:void(0)"
                        class="dropdown-item"
                        (click)="changeCustomerStatus(user.id)"
                        ><i class="fas fa-eye text-grey" aria-hidden="true"></i>
                        Change Status</a
                      >
                      <a
                        href="javascript:void(0)"
                        class="dropdown-item"
                        (click)="openConfirmationDialog(user.id)"
                        ><i
                          class="fas fa-trash text-grey"
                          aria-hidden="true"
                        ></i>
                        Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" (click)="paginate_list(previews_count)"
                  >Prev</a
                >
              </li>
              <li
                *ngFor="let u_count of users_count_1"
                class="{{ u_count.class }}"
              >
                <a class="page-link" (click)="paginate_list(u_count.id)">{{
                  u_count.name
                }}</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="paginate_list(next_count)"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
