.sidebar .nav-link.active, .sidebar .nav, .sidebar .sidebar-minimizer{
    background: #161928;
}
.sidebar .nav-link.nav-link-success {
    background: #57b957;
}
.sidebar .nav-link.nav-link-danger {
    background: #257d25;
}
.sidebar .nav-link.active .nav-icon, .sidebar .nav-link .nav-icon {
    color: #ffffff;
}
.sidebar .nav-link.nav-link-danger:hover {
    background: #3b9c3b;
}
.sidebar .nav-link:hover {
    background: #57b957;
}
.app-header{
    height: 62px;
}
.header-fixed .app-body {
    margin-top: 62px;
}
/* .bg-primary {
    background-color: #57b957 !important;
} */
.bg-green{
    background-color: #57b957 !important;
}
.card-body.text-center h2 {
    margin: 18px 0;
}
button.btn.btn-primary.active {
    background: #fff !important;
    color: #57b957 !important;
    font-weight: 600;
    border: 0;
    height: 40px;
}
button.btn.btn-primary {
    background: #57b957;
    color: #fff;
    border: 0;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
}
.btn-link{
    color: #57b957;
    box-shadow: none;
}
.card.bg-primary {
    border-color: #57b957;
}
button.custom-btn {
    min-width: 120px;
    height: 40px;
    font-size: 15px;
}
.app-body .main button.btn.btn-primary {
    background: #219421;
}
.page-item.active .page-link {
    background-color: #57b957;
    border-color: #57b957;
}
.page-link{
    color: #42c342;
}
.page-link:hover {
    color: #ffffff;
    background-color: #57b957;
    border-color: #57b957;
}
a {
    color: #59d059;
}
.header-fixed .app-header button.navbar-toggler.d-none.d-md-block {
    display: none !important;
}
.header-fixed .app-header{
    padding: 0 25px;
}
.btn-success {
    color: #fff;
    background-color: #57b957;
    border-color: #57b957;
}
.card .card-header button.btn.btn-outline-primary.waves-effect.waves-light {
    background: #57b957;
    border: 0;
    color: #fff;
    line-height: normal;
}
.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 1px;
}
.table-bordered th, .table-bordered td {
    padding: 0.65rem 0.5rem;
}
/* .table-bordered thead th {
    color: #676e82;
    font-size: 16px;
    font-weight: 600;
    background: #f7f7f7;
} */
.table-bordered thead th {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    background: #57b957;
}
i {
    font-family: 'FontAwesome';
    font-style: normal;
}
.table-bordered td a i {
    font-size: 18px;
    margin: 0 8px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #f7f7f7;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #c8ced369;
}
.card .card-header{
    align-items: center;
}